{
    "grpc": {
        "protocol": "tcp",
        "host": "localhost",
        "port": 8080
    },
    "influxdb": {
        "protocol": "http",
        "host": "localhost",
        "port": 8086,
        "token": "token",
        "org": "org",
        "bucket": "bucket"
    },
    "mqtt": {
        "protocol": "tcp",
        "host": "localhost",
        "port": 8080,
        "clientID": "ClientID",
        "qos": 1,
        "username": "username",
        "password": "password",
        "sensorTopic": "topic"
    },
    "aes": {
        "key": "key",
        "iv": "iv"
    }
}
