{
    "grpc": {
        "protocol": "tcp",
        "host": "localhost",
        "port": 8080
    },
    "influxdb": {
        "protocol": "http",
        "host": "localhost",
        "port": 8086,
        "token": "token",
        "org": "org",
        "bucket": "bucket"
    },
    "mqtt": {
        "protocol": "tcp",
        "host": "",
        "port": 0,
        "qos": 1,
        "username": "",
        "password": "",
        "sensorTopicEsp1": "",
        "sensorTopicEsp2": "",
        "sensorTopicRasp1": "",
        "sensorTopicRasp2": ""
    },
    "aes": {
        "key": "key",
        "iv": "iv"
    }
}
